<main>
    <div class="questions--container hidden">
        <h3 class="question--title"></h3>
        <ul class="answer--list">
            <span class="clock">Tiempo</span>

            <li class="asnwer--option">
                <input type="radio" value="" name="radAnswer" class="input-radio">
                <label class="question--answer"></label>
            </li>

            <li class="asnwer--option">
                <input type="radio" value="" name="radAnswer" class="input-radio">
                <label class="question--answer"></label>
            </li>

            <li class="asnwer--option">
                <input type="radio" value="" name="radAnswer" class="input-radio">
                <label class="question--answer"></label>
            </li>

        </ul>
        <p>Selecciona la respuesta que creas correcta</p>
</main>